<header class="header-container shadow-sm bg-dark">
    <nav class="navbar navbar-expand-md">
      <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand" [@pulseAnimation]="'pulse'">Digivate</a>
        <ul class="nav nav-pills">
          <li class="nav-item" *ngFor="let item of navItems; let i = index">
            <a [routerLink]="item.route" routerLinkActive="active" class="nav-link" [@fadeInAnimation]="'in'">
              {{ item.label }}
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <router-outlet></router-outlet>