.footer {
  background-color: #0a192f;
  padding: 20px 0;
  color: #b0caf0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer p {
  margin: 0;
  color: #b0caf0;
  font-size: 0.9rem;
}

.footer-icons {
  display: flex;
}

.footer-icons a {
  color: #b0caf0;
  margin-left: 20px;
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-icons a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: rgb(255,94,41);
  transition: width 0.3s ease;
}

.footer-icons a:hover::after {
  width: 100%;
  left: 0;
}

.footer-icons a:hover,
.footer-icons a:active {
  color: rgb(255,94,41);
}

.fab,
.fas {
  font-size: 20px;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-icons {
    margin-top: 15px;
  }

  .footer-icons a {
    margin: 0 10px;
  }
}