
@media (max-width: 768px) {
    .home-title, .home-author {
        font-size: 50px !important;
    }

    .home-author {
        line-height: 4rem !important;
    }
  }

  .home-container {
    background: linear-gradient(135deg, #0a192f 0%, #0d1b2a 100%);
    min-height: 100vh;
    position: relative;
    height: 88vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text-left {
    margin: 80px;
    text-align: start;
}

.home-title {
    font-size: 5rem;
    color: #e0f0ff;
    margin-bottom: 5rem;
    line-height: 5rem;
}

.home-author {
    font-size: 3rem;
    color: #b0caf063;
    margin-bottom: 3rem;
}

#dynamic-text {
    border-right: 2px solid rgb(255,94,41);
    padding-right: 5px;
    animation: blink-caret 0.7s step-end infinite;
    color: rgb(255,94,41);
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgb(255,94,41); }
}

.particles-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .particle {
    position: absolute;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    animation: float linear infinite;
  }

  @keyframes float {
    0% {
      transform: translateY(0) rotate(0deg);
    }

    100% {
      transform: translateY(-100vh) rotate(360deg);
    }
  }
