<div class="row align-items-center home-container">
  <div class="particles-container">
    <div class="particle" 
         *ngFor="let particle of particles" 
         [style.left]="particle.left"
         [style.top]="particle.top"
         [style.width]="particle.size"
         [style.height]="particle.size"
         [style.animation-duration]="particle.animationDuration">
    </div>
  </div>
  <div class="col-lg-10">
    <div class="text-left">
      <h1 class="home-title">Elevating Your Digital Presence</h1>
      <h6 class="home-author">Your Partner for Success in <span id="dynamic-text">{{ dynamicText }}</span></h6>
      <blockquote>
        From engaging social media content to high-conversion website designs, I offer comprehensive digital solutions tailored to your needs. Let’s bring your brand to the forefront of the digital landscape.
      </blockquote>
      <button>
        <a routerLink="/services">
          > Explore Services
        </a>
      </button>
    </div>
  </div>
</div>
